<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="assets/js/vue.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>
</head>
<body>
<div class="todo-list">
	<p v-if="!items.length">Tidak ada item</p>
	<ul v-if="items.length">
		<li v-for="item in items">{{ item.name }} - <a href="#" v-on:click="remove(item)">Remove</a></li>
	</ul>
	<input type="text" v-model="item">
	<input type="submit" value="Add Item" v-on:click="add">
</div>

<script type="text/javascript">
	new Vue({
		el: '.todo-list',
		data: {
			item : '',
			items : [],
		},

		methods: {
			add: function() {
				var item = {
					name: this.item
				};

				this.items.push(item);

				$.ajax({
					url: 'todoapi.php',
					type: 'POST',
					cache: false,
					data: {
						name: this.item
					}
				});

				this.item = '';
			},

			remove: function(item) {
				var newItem = this.items.filter(function(i){
					return item.id !== i.id;
				});

				this.items = newItem;

				$.ajax({
					url: 'todoapi.php',
					type: 'DELETE',
					cache: false,
					data: {
						id: item.id
					}
				})
			}
		},

		ready: function() {
			$.ajax({
				url: 'todoapi.php',
				type: 'GET',
				cache: false,
				success: function(data) {
					this.items = data;
				}.bind(this)
			});
		}
	});
</script>
</body>
</html>